:root {

/*------- COLOURS -----------*/
--paint-beaver: #A88C7D;
--paint-khaki: #B2A68D;
--paint-steel: #7297A0;
--paint-queen-blue: #54738E;
--paint-asparagus: #82AC7C;
--paint-off-white: #f7f5ec;
--paint-black: #000000;


/*------- TYPOGRAPHY -----------*/
--header-text: 'Inter', sans-serif;
--content-text: 'Inter', sans-serif;


}


/*------- GLOBAL STYLES -----*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--content-text);
    background-color: var(--paint-asparagus);
    min-height:100vh;
    color: var(--paint-off-white);
}

/*------- HEADER -----------*/

nav {
  background-color: var(--paint-steel);
  height: 10vh;
}

/* review need for empty container & sizing after nav bar has been created */
.header-container {
    padding-top:15vh;
  }


/*------- FOOTER -----------*/

footer {
  background-color: var(--paint-steel);
  margin-top: auto;
  padding-top: auto;
  min-height: 10vh;
}

/*------- HOME PAGE --------*/


/*------- CATEGORIES PAGE --*/

.card-body {
  background-color: var(--paint-khaki);
  
}


/*------- CONTACT US PAGE --*/

.team-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

#form-confirmation {
  visibility: hidden;
}

#contact-form {
  width: 100%;
  margin: 0 auto;
}

.form-input {
  display: block;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

#contact-form button {
  width: 100px;
  margin: 0 auto;
  background-color: var(--paint-steel);
  color: var(--paint-off-white);
}

.github-link {
  font-size: 300%;
  color: var(--paint-black);
  transition: color 0.2s;
}

.github-link:hover {
  color: var(--paint-off-white);
}

@media screen and (max-width: 576px) {
  #contact-form {
    width: 80%;
  }
}