@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&family=Roboto&display=swap');

:root {

  /*------- COLOURS -----------*/
  --paint-beaver: #A88C7D;
  --paint-khaki: #B2A68D;
  --paint-light-orange: #FFCE7E;
  --paint-steel: #7297A0;
  --paint-dark-steel: #5C6D7A;
  --paint-queen-blue: #54738E;
  --paint-dark-blue: #2F3A4A;
  --paint-asparagus: #82AC7C;
  --paint-light-asparagus: #a3dc9c;
  --paint-dark-asparagus: #5c8a6c;
  --paint-off-white: #f7f5ec;
  --paint-black: #000000;


  /*------- TYPOGRAPHY -----------*/
  --header-text: 'Lato', sans-serif;
  --content-text: 'Montserrat', sans-serif;


}


/*------- GLOBAL STYLES -----*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--content-text);
  background-color: var(--paint-asparagus);
  min-height: 100vh;
  color: var(--paint-off-white);
}

.container-margin {
  margin-top: 15vh;
}

/*------- HEADER -----------*/
/* custom bootstrap navbar */
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
}

.navbar-custom {
  background-color: var(--paint-steel);
  color: var(--paint-off-white);
  font-size: 24px;
  padding: 1em;
}

.navbar-brand {
  color: var(--paint-off-white) !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 222.5px;
  padding: 0.5em;
}

.navbar-toggler {
  border: none;
  color: var(--paint-off-white);
  font-size: 2rem;
}

.social-networks-div {
  width: 222.5px;
}

.social-networks .nav-item .nav-link {
  color: var(--paint-off-white) !important;
  font-size: 18px;
}

.navbar-custom .navbar-menu {
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--paint-off-white) !important;
}

.navbar-item .nav-link,
.navbar-item .nav-link {
  color: var(--paint-off-white);
  text-decoration: 2px underline #f7f5ec;
}

.active {
  text-decoration: 2px underline #f7f5ec;
}

.me-auto {
  margin: auto;
}

/*------- HEADER ENDS-----------*/

/*------- HOME PAGE --------*/

.header-container {
  height: calc(100vh - 10vh);
  min-height: 500px;
  background-image: url('../images/bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bg-top-container {
  opacity: 0;
  height: calc(100vh - 20vh);
  background-image: url('../images/bg-top.webp');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  animation: bg;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.home-text {
  padding-top: 5vh;
  color: var(--paint-queen-blue);
  font-weight: bold;
}

.home-tips {
  opacity: 0;
  color: var(--paint-queen-blue);
  animation: tips;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

.home-lead {
  color: var(--paint-light-orange);
  text-align: center;
  opacity: 0;
  font-size: max(1vw, 2vh, 1vmin);
  animation: lead;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.home-heading {
  opacity: 0;
  color: var(--paint-dark-asparagus);
  font-size: max(4vw, 9vh, 5vmin);
  animation: heading;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 250ms;
}

@keyframes bg {
  0% {
    margin-top: -500px;
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes heading {
  0% {
    transform: scale(0);
    margin-right: -500px;
    opacity: 0;
  }

  100% {
    margin-right: 0px;
    opacity: 1;
  }
}

@keyframes lead {
  0% {
    transform: scale(0);
    margin-top: 500px;
    opacity: 0;
  }

  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes tips {
  0% {
    transform: scale(0);
    margin-left: -500px;
    opacity: 0;
  }

  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .bg-top {
    padding: 0;
  }
}



/*------- CATEGORIES PAGE --*/

.header-container-categories {
  padding-top: 15vh;
}

.card {
  cursor: pointer;
  border: none;
  box-shadow: 5px 10px 18px var(--paint-black);
}

.card-body {
  background-color: var(--paint-khaki);
}


/*-- Category Modals --*/
.modal-border {
  border: 3px solid red;
}

.modal-header {
  background-color: var(--paint-khaki);
}


.modal-body {
  background-color: var(--paint-asparagus);
}

ul.category-topic>li {
  font-size: larger;
}

/*------- CONTACT US PAGE --*/

contact-page .team-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

#form-confirmation {
  visibility: hidden;
}

#contact-form {
  width: 100%;
  margin: 0 auto;
}

.form-input {
  display: block;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

#contact-form button {
  width: 100px;
  margin: 0 auto;
  background-color: var(--paint-steel);
  color: var(--paint-off-white);
}

.github-link {
  font-size: 300%;
  color: var(--paint-black);
  transition: color 0.2s;
}

.github-link:hover {
  color: var(--paint-off-white);
}

@media screen and (max-width: 576px) {
  #contact-form {
    width: 80%;
  }
}

/*------- 404 ERROR PAGE --*/

.mainbox {
  background-color: rgba(252, 253, 253, 0);
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #000;
}

.err2 {
  color: #000;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

#err-home {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: underline;
}

/*------- FOOTER -----------*/

footer {
  background-color: var(--paint-steel);
  color: var(--paint-off-white) !important;
  margin-top: auto;
  padding-top: auto;
  min-height: 10vh;
}

footer .nav-item {
  color: var(--paint-off-white) !important;
}