@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&family=Roboto&display=swap');

:root {

/*------- COLOURS -----------*/
--paint-beaver: #A88C7D;
--paint-khaki: #B2A68D;
--paint-steel: #7297A0;
--paint-queen-blue: #54738E;
--paint-asparagus: #82AC7C;
--paint-light-asparagus: #a3dc9c;
--paint-off-white: #f7f5ec;
--paint-black: #000000;


/*------- TYPOGRAPHY -----------*/
--header-text: 'Lato', sans-serif;
--content-text: 'Montserrat', sans-serif;


}


/*------- GLOBAL STYLES -----*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--content-text);
    background-color: var(--paint-asparagus);
    min-height:100vh;
    color: var(--paint-off-white);
}

/*------- HEADER -----------*/

nav {
  background-color: var(--paint-steel);
  height: 10vh;
}

/* review need for empty container & sizing after nav bar has been created */
.header-container {
    height: calc(100vh - 10vh);
    min-height: 500px;
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-top-container {
  height: calc(100vh - 20vh);
  background-image: url('../images/bg-top.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home-tips{
  color: var(--paint-steel);
}
  
.home-text{
  padding-top: 5vh;
  color: var(--paint-asparagus);
  font-weight: bold;
}

.home-lead {
  color: var(--paint-beaver);
  text-align: center;
  font-size: max(1vw, 2vh, 1vmin);
}

.home-heading {
  color: var(--paint-asparagus);
  font-size: max(4vw, 9vh, 5vmin);
}

@media screen and (max-width: 768px) {
  .bg-top {
    padding:0;
  }
}

/*------- FOOTER -----------*/

footer {
  background-color: var(--paint-steel);
  margin-top: auto;
  padding-top: auto;
  min-height: 10vh;
}

/*------- HOME PAGE --------*/


/*------- CATEGORIES PAGE --*/

.header-container-categories {
  padding-top: 15vh;
}

.card {
  cursor: pointer;
  border: none;
  box-shadow: 5px 10px 18px var(--paint-black);
}

.card-body {
  background-color: var(--paint-khaki);
}


/*-- Category Modals --*/
.modal-border {
  border: 3px solid red;
}

.modal-header {
  background-color: var(--paint-khaki);
}


.modal-body {
  background-color:var(--paint-asparagus);
}



/*------- CONTACT US PAGE --*/



 /*------- 404 ERROR PAGE --*/

  .mainbox {
    background-color:  rgba(252, 253, 253, 0);
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
    .err {
      color: #000;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #000;
  }
  
   .err2 {
      color: #000;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  #err-home {
    text-decoration: none;
    color: green;
  }
  
  a:hover {
    text-decoration: underline;
  }